<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Основы Vue</title>
    <link rel="stylesheet" href="theme.css" />
  </head>
  <style rel="stylesheet">
    [v-cloak] {
      display: none;
    }
  </style>
  <body>

  <div class="container" id="app" v-cloak>
    <div class="card">
      <h1>План по изучению Vue.js</h1>
      <div class="steps">
        <div class="steps-content" v-for="step in activeStep" :key="step">
          {{step.text}}
        </div>
        <ul class="steps-list">
          <li v-for="(step, index) in steps" class="steps-item" :class="{active: activeIndex === index, done: activeIndex > index }"  :key="step" @click.prevent="setActive(index)"><span>{{index+1}}</span> {{step.title}}</li>
        </ul>
        <div>
          <button v-if="showReset" class="btn" @click.prevent="reset">Начать заново</button>
          <button v-else class="btn" :disabled="activeIndex" @click.prevent="prev">Назад</button>
          <button v-if="notFinish && !showReset"  class="btn primary" @click.prevent="nextOfFinish">Вперед</button>
          <button v-else-if="!showReset" class="btn primary" @click.prevent="nextOfFinish">Закончить</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="vue.js"></script>
  </body>
</html>
